body {
    background: rgb(238, 174, 202);
    background: linear-gradient(328deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    width: 400px;
    margin: 10vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}

h1{
    text-align: center;
    color: rgba(231, 38, 12, 0.815);
}

form button{
    background-color:rgba(231, 38, 12, 0.815) ;
    color: white;
    border: rgba(231, 38, 12, 0.815);
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
} 

.input_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input_group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid blue;
}

.input_group input:focus{
    outline: 0;
}
.input_group .error{
    color: red;
    margin-top: 5px;
}

.input_group.success input{
    border-color: green;
}

.input_group.error input{
    border-color: red;
}

